<%-include('partials/head.ejs')%>

<main class="indexContent">
    <div class="left">
        <%if (viewingOwn) { %>
            <a href="/playlists/new">
                <div class="createDiv">
                    Create A New Playlist
                </div>
            </a>
        <% } %>
        
    </div>
    <article class="playlistsAll">
        <% if (!viewingOwn) { %>
            <section class="indexRandomPlaylist playlist">
                <span class="header">Play With a Random Playlist By MIKSEr</span>
                <div class="randomPlaylistSelect">
                    <span class="randomSelectText">
                        Choose a Warp
                    </span>
                    <div class="randomPlaylistLinks">
                        <a href="/playlists/random/snippet" class="rbtn">
                            <span class="randomSnippet">
                                Snippet
                            </span>
                        </a>
                        <a href="/playlists/random/fast" class="rbtn">
                            <span class="randomFast">
                                Fast
                            </span>
                        </a>
                        <a href="/playlists/random/slow" class="rbtn">
                            <span class="randomSlow ">
                                Slow
                            </span>
                        </a>
                    </div>
                </div>
            </section>
        <% } %>
        <% if (Object.keys(playlists).length>0) { %>

            <% for (p of playlists) { %>
                <% if (p.length>0) { %>
                    <section class="playlist" id="<%=p._id%>">

                        <div class="playlistNameCreator">
                            <a href="/playlists/<%=p._id%>">
                            <span class="playlistName"><%=p.name%></span>
                            </a>
                            <span class="playlistCreator">By <%=p.creator%></span>
                        </div>

                        <div class="playlistLengthType">
                            <span class="playlistLength"><%=p.length%> Songs</span>
                            <span class="playlistType">Warp: <%=p.warp%></span>
                        </div>

                        <div class="playlistEdit">
                            <% if (viewingOwn) { %>
                                
                                <a href="/playlists/edit/<%=p._id%>">
                                    <button class="edi-del-but edi" id="edit-<%=p._id%>">Edit</button>
                                </a>
                                <div class="dropdown">
                                    <button class="edi-del-but del" id="del-<%=p._id%>">
                                        Delete
                                    </button>
                                    <div id="<%=`confirm-del-${p._id}`%>" class="delete-dropdown">
                                        
                                        <p>Confirm Delete</p>
                                        <span>
                                            <form action="/playlists/<%=p._id%>?_method=DELETE" method="post">
                                                <input type="submit" value="Confirm"/>
                                            </form>
                                            <span class="deleteCancel" id="<%=`deletecancel${p._id}`%>">
                                                Cancel
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <% } %>
                        </div>

                    </section>
                <% } %>
            <% } %>
        <% } else { %>
            <span class="noPlaylists">
                There are no Playlists here yet. Make a New One <a href="/playlists/new">Here!</a>
            </span>
        <% } %>

    </article>
    <div class="right"></div>

    
</main>
<script defer src="/js/index.js"></script>


<%-include('partials/foot.ejs')%>