<%-include('partials/head.ejs')%>


<div class="title">
    <span><%=playlist.name%></span>
</div>

<div class="playlistInfo">
    
    <span id="playlistCreator">By <%=playlist.creator%></span>
</div>

<article class="trackPanel">
    <%playlist.tracks.forEach((track,i)=>{ %>
        <section class="trackDisplay">
            <div class="guessPanel">
                <% for (let j = 1 ; j<6 ; j++) { %>
                <span class="guessDisplay" id="<%=`guess${i}${j}`%>"></span>
                <% } %>
            </div>

            <div class="playNext">
                <span class="playButton paused" id="<%=track.id%>">
                    
                </span>
                <% if (i===playlist.tracks.length-1) { %>
                    <span class="summaryButton hide">
                        Summary
                    </span>
                
                <% } else { %>

                <span class="nextButton hide">
                    NEXT
                </span>
                <% } %>
                
            </div>

        </section>
    <% }) %>
    <section class="trackDisplay">
        <div class="summary">
            <%playlist.tracks.forEach((track,i)=>{ %>
                <span class="summaryDisplay" id="<%=`summary${i}`%>">
                    <img src="<%=track.image%>"/>
                    <span class="summaryTitle"><%=track.display%></span>
                    <span class="score" id="<%=`score${i}`%>"></span>
                </span>
            <% }) %>
        </div>
        <div class="summaryButtons">
            <span class="exitButton">
                Exit
            </span>
            <% if(!playlist._id) { %>
            <span class="playAgainButton">
                Play Again
            </span>
            <% } %>
        </div>
    </section>


</article>

<div class="searchPanel">

    <div class="skipButton">
        <span>Skip</span>
    </div>
    
    <div>
        <input type="text" class="searchBar" placeholder="Search for Songs or Artists">
    </div>

    <div class="guessButton" data-submittable="false">
        <span>Guess</span>
    </div>
</div>

<div class="resultsPanel"></div>

<article class="iframePanel">
    <%playlist.tracks.forEach((track)=>{ %>
        <section class="iframeSec dropped" id="<%=`iframe${track.id}`%>">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/<%=track.id%>?utm_source=generator" width="70%" height="142" frameBorder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </section>
    <% }) %>
</article>



<script>
    const databaseId = '<%=playlist._id%>'
    let randomPlaylist = JSON.stringify(null)
    if (!databaseId) {
        randomPlaylist = `<%- JSON.stringify(playlist) %>`
    }
</script>

<script type="module" src="/js/show.js"></script>
<%-include('partials/foot.ejs')%>